/* 页脚 */
.link_1:hover {
    color: rgb(6, 156, 206);
}

.link_1:hover {
    text-decoration-line: underline;
}

.link_1 {
    text-decoration-line: none;
    color:#81898f;
}

.link_2:hover {
    color: rgb(6, 156, 206);
}

.link_2:hover {
    text-decoration-line: underline;
}

.link_2 {
    text-decoration-line: none;
    color:#81898f;
    font-weight: bold;
}
